<?xml version='1.0' encoding='utf-8'?>
<widget id="com.multunus.moveit" version="1.2.13" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>MoveIt</name>
    <description>
        A health-motivation app to track your workouts and contributions.
    </description>
    <author email="info@multunus.com" href="http://multunus.com">
      Multunus Team
    </author>
    <content src="timeline.html" />
    <access origin="*" />
</widget>
